body{
    height: 80vh;
    width: 100%;
    margin: 0px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.caja-principal{
    margin: 0px;
    padding: 15px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    

    
}
.caja-menuMainAside{
    display: flex;
    width: 95%;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}
div, footer, main, aside {
    border: grey solid 3px;
} 
main, aside, .caja-menu, .caja-principal {
    background-color: white;
}
footer, .caja-mainAside {
    background-color: rgb(167, 164, 164);
}
.caja-menu{
    
    height: 90%;
    width: 30%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.caja-mainAside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90%;
    padding: 15px;
    margin-left: 15px;
    
}
main{
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
   
}
aside{
    width: 30%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-left: 15px;
    
}
footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 95%;
    padding: 15px;
    margin-top: 15px;
}